* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #219ebc;
  --secondary-color: #023047;
  --accent1-color: #ffb703;
  --accent2-color: #da780a;
  --Heading-font: "Roboto", sans-serif;
  --body-font: "Lato", sans-serif;
}

body {
   font-family: var(--body-font);
   color: var(--secondary-color);
   font-weight: 400;
   padding-bottom: 25px;
}

h1, h2 {
    font-family: var(--Heading-font);
    color: var(--secondary-color);
    font-weight: 400; 
}

header {
    display: grid;
    grid-template-columns: 1fr 120fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    border-radius: 2px;
    margin: 10px;
}

.title-box a {
    padding-left: 30px;
    padding-right: 25px;
    border-right: #222 solid 2px;
    justify-content: center;
    
}

header img {
    margin: 2rem;
	width: 105px;
	height: auto;
    margin-left: 55px;
}

.navigation {
    display: flex;
	flex-wrap: wrap;
    background-color: white;
	list-style: none;
	padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 10px;
	font-family: Arial, sans-serif;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
} 

nav, p, section {
    margin: 5px;
    padding: 8px;
}

.form-box {
    margin: 0 auto;
    padding: .1rem;
    border: 1px solid rgb(0 0 0/0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px; 
    margin-right: 12px; 
}

button {
    margin: 1rem;
    background-color: navy;
    color:#fff;
    border: none;
    border-radius: .5rem;
    padding: .98rem;
    font-size: 1.2rem;
    width: 280px;
    cursor: pointer;
    margin: 8px auto 0;
    margin-top: 2px;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 790px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.box-checkbox {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 45px;

}



.images-adventures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 3px;
    font-size: 15px;
   
}

.images-adventures h2 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  column-gap: 5px;
  padding: 5px;
  max-width: 250px;
  margin: auto;
}

img section {
  max-width: 200px;
  max-height: 230px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}


.rafting-history, .adventures {
    color: var(--primary-color);
}

footer {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: right;
    border: 1px solid black;
    
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 40px;
    height: 40px;
    right: 75px;
}

.socialmedia a:hover {
    opacity: 0.7;
}
