
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Roboto&display=swap');

:root {
    --main-bg-color: brown;
}

home-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

section {
	grid-column: 1/5;
}

main {
   width: 600px;
   margin: auto;
}

p :link {
	background-color: #f44336;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.div class {
  width: 100%;
}


.div class {
    display: flex;
	justify-content: space-around;
}

.img {
	width: 25%;
	justify-content: space-between;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	align-items: center;;
	border-bottom: 2px solid #ccc;
	max-width: 700px;
}


.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
    
}

h1 {
	font-family: Acme, Arial, sans-serif;
	top: 100px;
	font-size: 1.3em;
}

nav {
	text-align: right;  
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
    justify-content: space-evenly;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
    
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

    
  nav a {
    color: white;
    padding: 10px;
    display: block;

 }

 .hero img { 
    display: flex;
    width: 100%;
    height: auto;
   
}


footer {
    padding: 1rem;
    width: auto;
    height: 1%;
	text-align: center;
}

body {
	font-family: Merriweather, Georgia, serif; 
	font-size: 1.2rem;
	color: #333;
	background: #fff;
 }
 
 form {
	width: 600px;
	margin: 0 auto;
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	background-color: #eee;
	display: grid;
  }

  
  fieldset {
	 display: grid;
	 grid-gap:.5rem;
	 margin: .1rem;
	 border: 1px solid rgba(0, 0, 0, 0.2);
	 padding: 1rem;
  }
  
  legend {
	 padding: 0.5rem;
	 color: navy;
	 font-size: 1.3em;
  }
  
  label, input, button, select, textarea {
	  font-family: Roboto, Arial, sans-serif;
  }
  
  label {
	text-align: left;
	padding-right: 1rem;
  }
  
  input, select, textarea {
	  padding: 0.5rem;
	  font-size: 1.1rem;
  }
  
  input[type="checkbox"] {
	  width: 22px;
	  height: 22px;
	  vertical-align: bottom;
  }
  
  button {
	margin: 1rem;
	background-color: navy;
	color: #fff;
	border: none;
	border-radius: .5rem;
	padding: .75rem;
	font-size: 1.2rem;
 }
  
  button:hover {
	  background-color: darkgreen;
  }
  

  
  .form-item {
	  display: grid;
	  align-items: center;
  }
  
  .column1 {
	  grid-template-columns: 3fr 1fr;
	  margin: 0.5rem 0;
  }
  
  .column2 {
	  grid-template-columns: 1fr 2fr;
  }
 
 