
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Roboto&display=swap');

:root {
    --main-bg-color: brown;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

section {
	grid-column: 1/5;
}

main {
   width: 600px;
   margin: auto;
}

.div class {
  width: 100%;
}


.div class {
    display: flex;
	justify-content: space-around;
}

.img {
	width: 25%;
	justify-content: space-between;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	align-items: center;;
	border-bottom: 2px solid #ccc;
	max-width: 700px;
}


.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
    
}

h1 {
	font-family: Acme, Arial, sans-serif;
	top: 100px;
	font-size: 1.3em;
}

nav {
	text-align: right;  
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
    justify-content: space-evenly;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
    
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

    
  nav a {
    color: white;
    padding: 10px;
    display: block;

 }

 .hero img { 
    display: flex;
    width: 100%;
    height: auto;
   
}


footer {
    padding: 1rem;
    width: auto;
    height: 2px;
}

body {
	font-family: Merriweather, Georgia, serif; 
	font-size: 1.2rem;
	color: #333;
	background: #fff;
 }
 
 
 