@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--prumary-color: #eee;
	--secondary-color: hsl(0, 23%, 94%);
	--accent1-color: rgba(159, 4, 255, 0.953);
	--accent2-color: rgb(238, 14, 14);

	--heading-font: var(--accent1-color), serif;
	--paragraph-font: #eee, serif;

	--nav-background-color:var(--accent1-color);
	--nav-link-color:rgb(255, 255, 255);
	--nav-hover-link-color: #0000
	--nav-hover-background-color: var(--prumary-color);
}



body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }
 
  h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	color: var(--primary-color);
  }

  header {
	padding: 20px;
	background-color: var(--accent1-color);
  }

p {
  padding: 25px;	
}

nav {
	background-color: var(--nav-background-color);
	font-size: 1.2rem;
	display: flex;
}

nav a {
	display: block;
	color: var(--nav-link-color);
	text-decoration: none;
	padding: 1rem;
}


nav a:link, nav a:visited {
	color: var(--nav-link-color);
}

nav a:hover {
	color: var(--nav-hover-link-color);
	background-color: var(--nav-hover-background-color);
}
  

  

 
  