.grid {
  display: grid;
  align-items: center;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

* {
  padding: 0;
  box-sizing: border-box;
}

header {
  display: block;
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans serif;
}


nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
  
nav a {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700px;
  color: #fff; 
  padding: 0.5rem
}


h1 {
  color: steelblue;
  margin: 1rem;
}


h2 {
  display: block;
  font-size: 1.5rem;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

main {
  max-width: 648px;
  display: block;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}

main {
  grid-column: 2;
  margin: 1rem;
  justify-content: left;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
   
}

aside img {
  width: 300px;
  height: auto;
}


footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 3rem;
  background-color: #ddd;
  color: #000;
}

.indent {
  margin: 1rem;
  margin-right: 1rem;
  padding: 10px;
}



